body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("https://my.alfred.edu/zoom/_images/foster-lake.jpg");
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #A9BA;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    text-align: left;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}